numpy~=2.2.6
opencv-python~=4.12.0.88
supervision>=0.22.0
pycocotools~=2.0.10

requests~=2.32.5
pillow~=12.1.1
huggingface-hub~=0.34.4
tqdm~=4.67.1
setuptools~=80.9.0
PyYAML~=6.0.2
termcolor~=3.1.0
matplotlib~=3.7.2
scipy~=1.16.1
openai~=2.9.0
selenium~=4.41.0

sentence-transformers==5.3.0
transformers>=4.41,<5
huggingface-hub>=0.20
torch==2.10.0
pytest~=9.0.2
typer~=0.24.1